@use "../../utils/" as *;

.slideshow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    max-width: 80vw;
    margin: auto;
    height: 415px;
    margin-top: 50px;
    margin-bottom: 24px;

    background: #000;
    border-radius: 25px;

    @include mobile {
        max-width: 90vw;
        height: 255px;
    }

    .chevron-container {
        display: flex;
        justify-content: space-between;

        .chevron-left {
            width: 79px;
            transform: rotate(-90deg);

            @include mobile {
                width: 30px;
            }
        }

        .chevron-right {
            width: 79px;
            transform: rotate(90deg);

            @include mobile {
                width: 30px;
            }
        }
    }

    .slideshow-count {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);

        @include font(18px, 500);
        color: map-get($colors, basic-text);

        @include mobile {
            display: none;
        }
    }
}
