@use "../../utils/" as *;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    margin: auto;
    height: 415px;

    background: #000;
    border-radius: 25px;

    @include mobile {
        max-width: 90vw;
        height: 255px;
    }

    .chevrons {
        display: flex;
        justify-content: space-between;

        .chevronLeft {
            width: 79px;
            transform: rotate(-90deg);

            @include mobile {
                width: 30px;
            }
        }

        .chevronRight {
            width: 79px;
            transform: rotate(90deg);

            @include mobile {
                width: 30px;
            }
        }
    }

    .count {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);

        @include font(18px, 500);
        color: map-get($colors, basic-text);

        @include mobile {
            display: none;
        }
    }
}
