@use "../../utils/" as *;

.banner {
    height: 223px;

    margin: auto;
    margin-top: 50px;

    @include mobile {
        height: 223px;

        margin-top: 27px;
        margin-bottom: 22px;
    }
}
