@use "../../utils/" as *;

.card-container {
    max-width: 80vw;
    margin: auto;
    margin-bottom: 50px;
    padding: 50px 56px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    background-color: map-get($colors, bloc-bg);
    border-radius: 25px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        max-width: 90vw;
        margin-bottom: 27px;
        padding: 0px;

        grid-template-columns: 1fr;
        gap: 20px;

        background-color: #fff;
    }

    .card {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: left;

        padding: 20px;

        background: map-get($colors, bloc-gradient);
        border-radius: 10px;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        @include mobile {
            height: 33vh;
        }

        &:before {
            content: "";
            display: block;
            padding-top: 100%; /* Permet de maintenir le ratio 1:1 */
        }

        .card-text {
            color: map-get($colors, basic-text);
            @include font(18px, 500);
        }
    }
}
